a {
  text-decoration: none;
  color: black;
}

.navbar {
  max-height: 10vh;
  border-bottom: 1px solid;
}

.board {
  padding-top: 1rem;
  max-width: 50%;
  height: 84vh;
}
.card {
  border: 0px;
}

.card-body {
  padding: 0.5rem 0.5rem;
}

.card-form {
  padding: 0;
}

.form-control {
  padding: 0;
  height: 100%;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: 0.5px solid;
}

.vertical-border {
  border-right:1px solid;
  border-left:1px solid;
}

.bottom-border {
  border-bottom:1px solid;
}

.top-border {
  border-top:1px solid;
}

.footer {
  height: 6vh;
}

@media (orientation: portrait) {
  .board {
    max-width: 100%;
  }

  .card-body {
    padding: 0.1rem 0.1rem;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.custom-modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loader-body {
  width: 100%;
  background: transparent;
  border-width: 0;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}